@font-face {
    font-family: "Godofwar";
    src: url(../fontes/godofwar/GODOFWAR.TTF);
}

@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');



@font-face {
    font-family: "Angelwish";
    src: url(../fontes/angel_wish/Angel\ wish.ttf);
}

@font-face {
    font-family: "Soccer";
    src: url(../fontes/soccer_dance/SOCCER.TTF);
}


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(255, 255, 255);
    background-image: url('../imgs/15187163-fundo-de-site-moderno-futurista-de-conexao-de-mapa-do-mundo-ou-de-pagina-de-capa-para-conceito-de-tecnologia-e-financas-e-empresa-futura-de-educacao-vetor.jpg');
    background-size: cover;  
    background-position: center center;  
    background-attachment: fixed;  
    
}
#container{
    position: relative;
    width: 100%;
    padding-top: 105px;
}
header{
    margin-top: -10px;
    width: 100%;
    height: 200px;
    background-color: rgb(121, 4, 255);
}
nav{
    background-color: rgb(216, 216, 218);
    padding-top: 15px;
}
footer{
    background-color: rgb(89, 75, 128);
    width: 100%;
    height: 200px;
    margin-top: 450px;
    
}
.logo{
    width: 340px;
    height: 200px;
    padding-left: 40%;
    margin-top: -39px;
}
main{
    padding-top: 15px;
}
#img2{
    width: 180px;
    height: 180px;
}
.barratop{
    background-color: black;
    width: 100%;
    height: 100px;
   position: fixed;
   margin-top: -95px;
   color: aliceblue;

}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;


}
nav .active {
    background-color: SteelBlue;
    color: white;
}
nav li {
    display: inline-block;
}
main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
main li a {
    display: block;
    color: black;
    padding-top: 12px;
    text-decoration: none;
    background-color: aqua;
    width: 95px;
    

}
main li a:hover {
    background-color: black;
    color: aliceblue;
}

nav .active {
    background-color: SteelBlue;
}
#txt1 {
    font-family: "Godofwar";
    src: url(C:\Users\PC\Desktop\exercicio1-GIULIANOOLIVEIRA\fontes\fontes\godofwar);
}
nav ul li a {
 
    font-family: "Angelwish";
    src: url(../fontes/angel_wish/Angel\ wish.ttf);
}

